<div class="contSkill">
    <div class="contenedor4">
        <h1 class="h1Sk">Hard Skills</h1>
        
    <div class="Cont_barr">
        <strong style="margin-left: 1em;">Frond End</strong>
       <div class="barra"><p>Tecnologia:</p> <div class="linea_Progr"><div class="prog" style="width: 70%;"></div></div></div> 
        <div class="contEtiqueta"><strong>100%</strong></div>
    
    
    </div>
    
    
    
    </div>
    
    
    <div class="contenedor5">
        <h1 class="h1Sk">Soft Skills</h1>
        
    <div class="Cont_barr">
        <strong style="margin-left: 1em;">Habilidad</strong>
       <div class="barra"><p>descripcion:</p> <div class="linea_Progr"><div class="prog" style="width: 70%;"></div></div></div> 
        <div class="contEtiqueta"><strong>100%</strong></div>
    
    
    </div>
    
    
    
    
    
    </div>
</div>


