<div id="contenedor1">
<div id="container" style="width: 100%; height: 25rem;">
    <img class="bannerImag" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZdAHA2RHq1my8Cpfx4uRM_CtdhHxC1LpSQODLYSoS-g&s" alt="">
</div>

<div id="Perfil1"> <img class="ImagenPerfil1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZdAHA2RHq1my8Cpfx4uRM_CtdhHxC1LpSQODLYSoS-g&s" alt=""></div>
<div id="NyA"><h2 class="NyA">Apellido <br> Nombre</h2>
</div>
<div class="Titulo"><h1>Titulo </h1> 
    <strong>descripsion hhhhhhhhhhhhhhhhhhhhhh <br>
    </strong><br>
</div>
</div>
  

